.logoutButton{
  margin-right: 5px;;
}

.navTitle{
  font-size: 30px;
  display: flex;
  
}
.navLinks{ 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;  
  
}
.userName{
  display: flex;
  align-items: center;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid ;
  height: 50px;
  gap: 5px;  
}
.navDivider{
  display: flex; 
  align-items: center;
  gap: 20px;
}
.navEnd{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 5px;
}
.loginContainer{
  display: flex;
  flex-direction: column;
  height: 70%;
}
.loginText{
  height: 140px;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
  
}
.loginForm input{
  font-size: 30px;
}
.flipButton{
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.postText{
  height: 140px;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.postBar{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.searchLabel{
  display: flex;
  align-items: center;
}
.orDiv{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postCard{
  border: 1px solid ;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.postCard div{
  padding: 10px;
  
}
.postHeader{
  display: flex;
  justify-content: space-between;
}

#root{
  
}
td{
  border: 1px solid ;
  padding: 10px;
}
.addText{
  height: 140px;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.addContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
.addForm input{
  font-size: 30px;
}
.message{
  border: 1px solid;
  margin: 5px;
  width: 500px;
}
.messagesText{
  
  height: 140px;
  font-size: 60px;
  display: flex;
  align-items: center;  
  margin-top: 50px;
  
}
.postingsText{
  height: 140px;
  font-size: 60px;
  display: flex;
  align-items: center;  
  margin-top: 50px;

}
.post{
  border: 1px solid;
  margin: 5px;
  width: 500px;
}




