#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navLinks{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  gap: 600px;


  
}
.userName{
  display: flex;
  align-items: center;
}
.navBar{
  display: flex;
  justify-content: flex-end;
  
  gap: 5px;  
}
.navDivider{
  display: flex;  
  gap: 20px;
}
.loginContainer{
  display: flex;
  flex-direction: column;
  height: 70%;
}
.loginText{
  height: 140px;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
  
}
.loginForm input{
  font-size: 30px;
}
.flipButton{
  font-size: 10px;

}
.postText{
  height: 140px;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postBar{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.searchLabel{
  display: flex;
  align-items: center;
}
.orDiv{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addButton{
  
}
 *{
  border:  1px solid black;
 }

